.container {
    max-width: 600px;
    margin: auto;
  }
  
  .factura-detalles {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .alert {
    margin-top: 20px;
  }
  
  button {
    width: 200px;
  }
  