.panel-control {
    height: 100%; /* Altura completa */
    border-right: 1px solid #ddd; /* Línea divisoria */
  }
  
  .list-group-item {
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa; /* Cambio de color al pasar el mouse */
    transform: translateX(5px); /* Pequeño desplazamiento */
  }
  
  .list-group-item i {
    font-size: 1.5rem; /* Aumenta el tamaño del ícono */
  }
  