<div class="panel-control bg-light p-3 h-100">
  <h4 class="text-center mb-4">Panel de Control</h4>
  <div class="list-group">
    <!-- Opciones para Cliente -->
    <a *ngIf="rolUsuario === 'Cliente'" routerLink="/catalogo-servicios"
      class="list-group-item list-group-item-action bg-primary text-white">
      <i class="bi bi-card-list me-2"></i>Catálogo
    </a>
    <a *ngIf="rolUsuario === 'Cliente'" routerLink="/crear-cita"
      class="list-group-item list-group-item-action bg-primary text-white">
      <i class="bi bi-calendar-check me-2"></i>Agendar Cita
    </a>
    <a *ngIf="rolUsuario === 'Cliente'" routerLink="/citas-agendadas-cliente"
      class="list-group-item list-group-item-action bg-primary text-white">
      <i class="bi bi-calendar-range me-2"></i>Citas Agendadas
    </a>
    <a *ngIf="rolUsuario === 'Cliente'" routerLink="/factura-cliente"
      class="list-group-item list-group-item-action bg-primary text-white">
      <i class="bi bi-receipt me-2"></i>Facturas
    </a>
    <a *ngIf="rolUsuario === 'Cliente'" routerLink="/historial-cliente"
      class="list-group-item list-group-item-action bg-primary text-white">
      <i class="bi bi-clock-history me-2"></i>Historial
    </a>

    <!-- Opciones para Empleado -->
    <a *ngIf="rolUsuario === 'Empleado'" routerLink="/citas-asignadas-empleado"
      class="list-group-item list-group-item-action bg-success text-white">
      <i class="bi bi-clipboard-check me-2"></i>Citas Asignadas
    </a>
    <a *ngIf="rolUsuario === 'Empleado'" routerLink="/gestionar-citas-empleado"
      class="list-group-item list-group-item-action bg-success text-white">
      <i class="bi bi-pencil-square me-2"></i>Actualizar Cita
    </a>
    <a *ngIf="rolUsuario === 'Empleado'" routerLink="/generar-factura"
      class="list-group-item list-group-item-action bg-success text-white">
      <i class="bi bi-receipt me-2"></i>Generar Factura
    </a>

    <!-- Opciones para Administrador -->
    <a *ngIf="rolUsuario === 'Administrador'" routerLink="/registrar-usuario"
      class="list-group-item list-group-item-action bg-dark text-white">
      <i class="bi bi-person-plus-fill me-2"></i>Crear Usuario
    </a>
    <a *ngIf="rolUsuario === 'Administrador'" routerLink="/gestion-usuarios"
      class="list-group-item list-group-item-action bg-dark text-white">
      <i class="bi bi-people me-2"></i>Gestionar Usuarios
    </a>
    <a *ngIf="rolUsuario === 'Administrador'" routerLink="/gestion-lista-negra"
    class="list-group-item list-group-item-action bg-dark text-white">
    <i class="bi bi-blockquote-left me-2"></i>Gestionar Lista Negra
    </a>
    <a *ngIf="rolUsuario === 'Administrador'" routerLink="/gestion-precio-anuncios"
      class="list-group-item list-group-item-action bg-dark text-white">
      <i class="bi bi-cash-coin me-2"></i>Gestionar Precio de Anuncios
    </a>    
    <a *ngIf="rolUsuario === 'Administrador'" routerLink="/horario-general"
      class="list-group-item list-group-item-action bg-dark text-white">
      <i class="bi bi-clock me-2"></i>Configurar Horarios
    </a>

    <!-- Reportes del Administrador -->
    <div *ngIf="rolUsuario === 'Administrador'">
      <h5 class="text-dark">Reportes</h5>
      <a routerLink="/reporte-ganancias-admin"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-bar-chart-line me-2"></i>Reporte de Ganancias por Servicios
      </a>
      <a routerLink="/reporte-anuncios-admin"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-bullseye me-2"></i>Reporte de los Anuncios más Mostrados
      </a>
      <a routerLink="/reporte-clientes-mas-citas"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-calendar-event me-2"></i>Reporte de Clientes con Más Citas
      </a>
      <a routerLink="/reporte-clientes-menos-citas"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-calendar-event me-2"></i>Reporte de Clientes con Menos Citas
      </a>
      <a routerLink="/reporte-lista-negra"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-blockquote-right me-2"></i>Reporte de Lista Negra
      </a>
      <a routerLink="/reporte-clientes-mas-gasto"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-cash-coin me-2"></i>Reporte de Clientes que Más Gastan
      </a>
      <a routerLink="/reporte-clientes-menos-gasto"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-cash-coin me-2"></i>Reporte de Clientes que Menos Gastan
      </a>
      <a routerLink="/reporte-empleado-mas-ganancia"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-people me-2"></i>Reporte de Ganancias por Empleados
      </a>
      <a routerLink="/reporte-cliente-mas-citas-atendidas"
         class="list-group-item list-group-item-action bg-dark text-white">
        <i class="bi bi-calendar-check me-2"></i>Reporte de Empleados con Más Citas
      </a>
    </div>

    <!-- Opciones para Marketing -->
    <a *ngIf="rolUsuario === 'Marketing'" routerLink="/crear-anuncio"
      class="list-group-item list-group-item-action bg-info text-white">
      <i class="bi bi-bullseye me-2"></i>Crear Anuncio
    </a>
    <a *ngIf="rolUsuario === 'Marketing'" routerLink="/gestion-anuncios"
      class="list-group-item list-group-item-action bg-info text-white">
      <i class="bi bi-gear me-2"></i>Gestionar Anuncios
    </a>
    <div *ngIf="rolUsuario === 'Marketing'">
      <h5 class="text-info">Reportes de Marketing</h5>
      
      <!-- Reporte: Top 5 anuncios más mostrados -->
      <a routerLink="/reporte-marketing-anuncios-mas-mostrados"
         class="list-group-item list-group-item-action bg-info text-white">
        <i class="bi bi-bar-chart-line me-2"></i>Top 5 Anuncios Más Mostrados
      </a>
      
      <!-- Reporte: Top 5 anuncios menos mostrados -->
      <a routerLink="/reporte-marketing-anuncios-menos-mostrados"
         class="list-group-item list-group-item-action bg-info text-white">
        <i class="bi bi-bar-chart me-2"></i>Top 5 Anuncios Menos Mostrados
      </a>
      
      <!-- Reporte: Historial de anuncios más comprados -->
      <a routerLink="/reporte-marketing-anuncios-mas-comprados"
         class="list-group-item list-group-item-action bg-info text-white">
        <i class="bi bi-file-earmark-text me-2"></i>Historial de Anuncios Más Comprados
      </a>
    </div>
    

    <!-- Opciones para Servicios -->
    <a *ngIf="rolUsuario === 'Servicios'" routerLink="/crear-servicio"
      class="list-group-item list-group-item-action bg-warning text-white">
      <i class="bi bi-plus-circle me-2"></i>Crear Servicio
    </a>
    <a *ngIf="rolUsuario === 'Servicios'" routerLink="/gestion-servicio"
      class="list-group-item list-group-item-action bg-warning text-white">
      <i class="bi bi-plus-circle me-2"></i>Gestionar Servicio
    </a>
    <a *ngIf="rolUsuario === 'Servicios'" routerLink="/agregar-catalogo"
      class="list-group-item list-group-item-action bg-warning text-white">
      <i class="bi bi-collection me-2"></i>Agregar Catálogo
    </a>
    <div *ngIf="rolUsuario === 'Servicios'">
      <h5 class="text-warning">Reportes de Servicios</h5>
      
      <!-- Reporte: Top 5 servicios más reservados -->
      <a routerLink="/reporte-servicios-servicio-mas-comprado"
         class="list-group-item list-group-item-action bg-warning text-white">
        <i class="bi bi-bar-chart-line me-2"></i>Top 5 Servicios Más Reservados
      </a>
      
      <!-- Reporte: Top 5 servicios menos reservados -->
      <a routerLink="/reporte-servicios-menos-reservados"
         class="list-group-item list-group-item-action bg-warning text-white">
        <i class="bi bi-bar-chart me-2"></i>Top 5 Servicios Menos Reservados
      </a>
      
      <!-- Reporte: Servicio con más ingresos -->
      <a routerLink="/reporte-servicio-mas-ingresos"
         class="list-group-item list-group-item-action bg-warning text-white">
        <i class="bi bi-cash-coin me-2"></i>Servicio con Más Ingresos
      </a>
    </div>    
  </div>
</div>